html{font-size: 20px}
header{ font-size:0.775rem ;
    color: #333333; text-align: center; line-height: 2.475rem;
    width:16rem;
    height:2.475rem; background: -webkit-linear-gradient(#f6f6f6,#ececec); border-top: 1px solid #c5c5c5; text-align: center; position: relative;}
header .back{position: absolute;
    left:0.55rem;
    top:0.5rem;
    width:3.1rem;
    height:1.5rem; font-size: 1.5rem; text-indent: -9999rem; background: url("../img/fan.png") no-repeat; background-size: 100%; }

.nav li{
    border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;
    float: left;}
.nav li:nth-child(4){border-right: none;}
.nav li a.on{
    color: #d51942;}
.nav li a{
    width:3.96rem;
    height:2rem; text-align: center;line-height: 2rem;font-size: 0.575rem; display: block;
    color: #999999;}
.banner{
    width:16rem; height:  8.475rem; overflow: hidden; position: relative;}
.banner ol{
    position:absolute;
    bottom:1rem; left:50%;
    width:2.5rem;
    margin-left:-1.25rem;
}
.banner ol li{
    float:left;
    width:0.25rem;
    height:0.25rem;
    background:#a9a9a9;
    border-radius:50%;
    margin:0 0.125rem;
}
.banner ol li.on{
    background:#ff4300;
}
.ban_li{  -webkit-transform: translate3d(-16rem,0,0); position: absolute;
    left:0;
    top:0;}
.ban_li li img{
    width:16rem;
    height:6.675rem;}
.ban_li li{
    float: left;}
ol li.on{background: #ff4300;}
.content a{display: block; border-top: 1px solid #ccc;
    padding:1rem 0.9rem 1.025rem 0.85rem; overflow: hidden;}
.content span{width: 1.95rem;
    height:1.95rem; background: url("../img/qi.png") no-repeat;background-size: 100%;
    float: left; margin-right:1.2rem; }
.content i{
    float: left;}
.content .b1{font-size:0.825rem;
    color: #6a237f; font-weight: bold; font-family: '微软雅黑'; display: block; margin-bottom: 0.5rem; }
.content .b2{font-size:0.575rem;color: #ccc;font-weight:500;
}
.content em{
    width:0.325rem;
    height:0.55rem;
    background: url("../img/you.png") no-repeat; background-size: 100%;
    float: right; margin-top:0.675rem;  }
